.menu-view-area {
    width: 400px;
    height: 150px;
}
.buy_item_area {
    width: 400px;
    height: 150px;
}
.total-fee-area {
    width: 400px;
    height: 50px;
}
.change-area {
    width: 400px;
    height: 50px;
}